# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo. Unless a later match takes
# precedence, they will be requested for review when someone opens a pull request.
* @lantiga @t-vi @lianakoleva @KaelanDt @k223kim @andyland

# Core source
/litgpt/                             @lantiga @t-vi @lianakoleva @KaelanDt @k223kim @andyland

# CI/CD and configs
/.github/                            @lantiga @t-vi
*.yml                                @lantiga @t-vi

# Docs
/README.md                           @williamfalcon @lantiga @lianakoleva

# Retired committers
#   @rasbt    (Sebastian Raschka)
#   @awaelchli  (Adrian Wälchli)
#   @borda    (Jirka Borovec)
