__pycache__
.idea
.DS_Store
*.egg-info
build
dist
.venv
.vscode

# data
data
datasets
!litgpt/data
!tests/data
checkpoints
out
wandb
events.out.tfevents*

# test artifacts from tests/test_readme.py
tests/custom_finetuning_dataset.json
tests/custom_texts/
client.py
custom_finetuning_dataset.json
custom_texts/
