[project]
name = "litgpt"
version = "0.5.2.dev1"
description = "Hackable implementation of state-of-the-art open-source LLMs"
authors = [
    { name = "Lightning AI", email = "contact@lightning.ai" },
]
readme = "README.md"
license = { file = "LICENSE" }

dependencies = [
    "torch>=2.2.0",
    "numpy<2.0",
    "lightning==2.4.0",
    "jsonargparse[signatures]>=4.30.1,<=4.32.1",    # 4.33 does not seem to be compatible with Python 3.9
    "huggingface_hub>=0.23.5",          # download models
    "safetensors>=0.4.3",               # download models
    "tokenizers>=0.15.2",               # tokenization in most models
    "tqdm>=4.66.0",                     # convert_hf_checkpoint
]

[project.urls]
homepage = "https://github.com/lightning-AI/litgpt"
documentation = "https://github.com/lightning-AI/litgpt/tutorials"

[project.scripts]
litgpt = "litgpt.__main__:main"

[project.optional-dependencies]
test = [
    "pytest>=8.1.1",
    "pytest-rerunfailures>=14.0",
    "pytest-timeout>=2.3.1",
    "pytest-dependency>=0.6.0",
    "transformers>=4.38.0",  # numerical comparisons
    "einops>=0.7.0",
    "protobuf>=4.23.4",
    "lightning-thunder @ git+https://github.com/Lightning-AI/lightning-thunder/ ; python_version >= '3.10' and sys_platform == 'linux'",
]
all = [
    "bitsandbytes==0.42.0",      # quantization
    "sentencepiece>=0.2.0",      # llama-based models
    "requests>=2.31.0",          # litgpt.data
    "litdata==0.2.17",           # litgpt.data
    "litserve>=0.1.5",           # litgpt.deploy
    "zstandard>=0.22.0",         # litgpt.data.prepare_slimpajama.py
    "pandas>=1.9.0",             # litgpt.data.prepare_starcoder.py
    "pyarrow>=15.0.2",           # litgpt.data.prepare_starcoder.py
    "tensorboard>=2.14.0",       # litgpt.pretrain
    "torchmetrics>=1.3.1",       # litgpt.pretrain
    "datasets>=2.18.0",          # litgpt.evaluate
    "transformers>=4.38.0",      # litgpt.evaluate
    "lm-eval>=0.4.2",            # litgpt.evaluate
    "huggingface_hub[hf_transfer]>=0.21.0",  # download
    "uvloop>=0.2.0 ; sys_platform != 'win32'"  # litdata, only on non-Windows
]

[build-system]
requires = [
    "setuptools>=68.2.2",
    "wheel>=0.41.2",
]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
include = [
    "litgpt",
    "litgpt.*",
]
exclude = []

[tool.setuptools.package-data]
litgpt = [
    "LICENSE",
    "README.md",
]
