# torch>=2.1.0dev
lightning @ git+https://github.com/Lightning-AI/lightning@master
tokenizers
jsonargparse[signatures]  # CLI
bitsandbytes  # quantize
datasets  # quantize/gptq.py
zstandard  # prepare_redpajama.py

