torch>=2.1.0
# FIXME: update after
# https://github.com/Lightning-AI/pytorch-lightning/pull/19150
# https://github.com/Lightning-AI/pytorch-lightning/pull/19152
lightning @ git+https://github.com/Lightning-AI/lightning@6cbe9ceb560d798892bdae9186291acf9bf5d2e3
jsonargparse[signatures]  # CLI
