-r requirements.txt
jsonargparse[signatures]  # CLI
bitsandbytes==0.41.0      # quantization
scipy                     # required by bitsandbytes
sentencepiece             # llama-based models
tokenizers                # pythia, falcon, redpajama
datasets                  # eval
requests                  # litgpt.data
litdata                   # litgpt.data
zstandard                 # litgpt.data.prepare_slimpajama.py
pandas                    # litgpt.data.prepare_starcoder.py
pyarrow                   # litgpt.data.prepare_starcoder.py
tensorboard               # litgpt.pretrain
torchmetrics              # litgpt.pretrain
# eval
git+https://github.com/EleutherAI/lm-evaluation-harness.git@115206dc89dad67b8beaa90051fb52db77f0a529
