# torch>=2.1.0dev
lightning @ git+https://github.com/Lightning-AI/lightning@master
jsonargparse[signatures]  # CLI

# other optional dependencies are
# sentencepiece  # pythia, falcon, redpajama
# tokenizers  #  llama-based models
# bitsandbytes>=0.41.1  # quantize/bnb.py
# scipy  # TODO: remove when https://github.com/TimDettmers/bitsandbytes/pull/525 is released
# datasets  # quantize/gptq.py
# zstandard  # scripts/prepare_redpajama.py
# git+https://github.com/EleutherAI/lm-evaluation-harness.git@master  # eval
